@{
    ViewBag.Title = "Sélection du Groupe de joueurs : " + ViewBag.messageString;
}

@using (Html.BeginForm("Index", "Standings", FormMethod.Post)) {
    <fieldset>
        Sélectionner un groupe : @Html.DropDownList("PoolList")
        <p>
            <input type="submit" value="Valider" />
        </p>
    </fieldset>
}

